@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* aligns components to center of page */
.content{
  text-align: center;
}

/* ====================================== */
/* Styling header containing Navbar items */
/* ====================================== */
header{
  display:flex;
  justify-content: space-between;
  background-color: #3b3e40;
  color: rgb(250, 250, 252);
  font-family: 'Montserrat', sans-serif;
}

/* ====================================== */
/*           Home logo styling            */
/* ====================================== */
#logo {
  /* align icons to center of navigation */
  display: flex;
  align-items: center;
  color: #fff;
  width: 49%;
}

#logo img {
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}

/* ====================================== */
/*             Navbar styling             */
/* ====================================== */
 
/* removes bullet points and nav items are now on the same line */
nav ul {
  list-style: none;
  display: flex;
  margin:0;
  align-items: center;
}

/* adds spacing between nav bar items */
nav ul li{
  display: flex;
  padding: 5px 30px;
}

/* removes underline and changes color of navlinks */
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding-bottom:0;
  vertical-align: middle;
}

.NavItems{
  text-transform: uppercase;
  font-weight: 700;
}

/* ====================================== */
/*           Nav Button styling           */
/* ====================================== */
#loginButton, #registerButton, #logoutButton{
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border: 0;
  transition-duration: 0.4s;
  top: 3.2%;
}

#loginButton {
  right: 150px;
  color: white;
  background: black;
  margin-right: 20px;
}

#registerButton{
  right: 260px;
}

#logoutButton{
  right: 60px;
}
#loginButton:hover, #logoutButton:hover, #registerButton:hover {
  text-decoration: underline;
  color: #ffffff;
}

.NavItems:hover{
  color: #4184ff;
  text-decoration: underline;
}



